@page
@model ASP_Razor_TeamEXPFarmers.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Add New Person";
    string returnPage = HomePage.Name;
}

<header class="jumbotron">
    <h1>
        @if (HomePage.Name == HomePage.MY_ACCOUNT)
        {
            <span>Add New Customer</span>
        }
        else
        {
            <span>Add New Staff</span>
        }
    </h1>
</header>

<partial name="_PersonForm" model="Model.Person" />

<div>
    <a asp-page="@returnPage" class="btn-primary btn-secondary">
        &lt;&lt;Back
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
