@page
@model ASP_Razor_TeamEXPFarmers.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_Person" model="Model.Person" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.PersonID" 
        class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>
