@page
@model ASP_Razor_TeamEXPFarmers.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Person Details";
}

<header class="jumbotron">
    <h1>
        @if(Model.Person.IsCustomer)
        {
            <span>Customer: </span>
        }
        else if(Model.Person.IsStaff)
        {
            <span>Staff: </span>
        }
        @Model.Person.FullName
    </h1>
</header>

<partial name="_PersonView" model="Model.Person" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.PersonID" 
        class="btn btn-success">Edit</a>
    <a asp-page="./Index" class="btn btn-info">&lt;&lt; Back to List</a>
</div>
