@page
@using ASP_Razor_TeamEXPFarmers.Models
@model ASP_Razor_TeamEXPFarmers.Pages.IndexModel

@{
    ViewData["Title"] = "DigiGame Video Game Listing";
    int colNo = 0;

    string filter = (string)ViewData["Platform"];
}
<header class="jumbotron">
    <h1>DigiGame Video Game Listing</h1>
</header>

@* 
    CSS to shorten the descriptions in the cards. Users will need to open
    the game open fully (viewing its details page) to see the full
    description. 

    Reference: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
*@
<style>
    p 
    {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<section>        
    <div class="row">
        
        @foreach (var item in Model.VideoGames) 
        {
            bool isAvailable = false;
            
            if(String.IsNullOrEmpty(filter))
            {
                isAvailable = true;
            }
            
            if(item.Platforms != null && !isAvailable)
            {
                foreach(Platform platform in item.Platforms)
                {
                    if(platform.PlatformID.StartsWith(filter))
                    {
                        isAvailable = true;
                    }
                }
            }

            if(isAvailable)
            {
                // If colNo = 3 then end current row, and start the next
                if (colNo > 0 && colNo % 3 == 0)
                {
                    @:</div><div class="row">
                }
        
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                      <img src="/images/@item.CoverImage" class="card-img-top" 
                        height=350 width=200 alt="Game cover">
                      <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-page="VideoGames/Details" 
                            asp-route-id="@item.VideoGameID"
                            class="btn btn-primary">View Game</a>
                      </div>
                    </div>
                </div>

                colNo++;                
            }
        }
    </div>
</section>
