@page
@model ASP_Razor_TeamEXPFarmers.Pages.Addresses.DetailsModel

@{
    ViewData["Title"] = "Address Details";
}

<header class="jumbotron">
    <h1>Address Details</h1>
</header>

<partial name="_AddressView" model="Model.Address" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Address.AddressID" class="btn btn-primary">Edit</a> 
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>
