@page
@model ASP_Razor_TeamEXPFarmers.Pages.Addresses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Address.AddressID" />
            <div class="form-group">
                <label asp-for="Address.HouseNo" class="control-label"></label>
                <input asp-for="Address.HouseNo" class="form-control" />
                <span asp-validation-for="Address.HouseNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HouseName" class="control-label"></label>
                <input asp-for="Address.HouseName" class="form-control" />
                <span asp-validation-for="Address.HouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Postcode" class="control-label"></label>
                <input asp-for="Address.Postcode" class="form-control" />
                <span asp-validation-for="Address.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
